:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.d-block{
    display: block;
}
.d-inblock{
    display: inline-block;
}
/* start positions */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute ;
}
/* end positions */
/* start alignment */
.align-center{
    align-items: center;
}
.alju-center{
    justify-content: center;
    align-items: center;
}
.top{
    top: 0;
}
/* .flex-start{
    align-items: start;
} */
/*end alignment */


.wrap{
    flex-wrap: wrap;
}
@media(max-width :767px){
    .block-mobile{
        display: block;
    } 
    .txt-c-mobile{
    text-align: center;
    }
}
/* start padding & margin & gaps */


.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}

.pt-5{
    padding-top: 5px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pr-5{
    padding-right: 5px;
}
.pr-10{
    padding-right: 10px;
}
.pr-15{
    padding-right: 15px;
}
.pr-20{
    padding-right: 20px;
}
.pb-5{
    padding-bottom: 5px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-5{
    padding-left: 5px;
}
.pl-10{
    padding-left: 10px;
}
.pl-15{
    padding-left: 15px;
}
.pl-20{
    padding-left: 20px;
}


.m-0{
    margin: 0;
} 
.m-5{
    margin: 5px;
}
.m-10{
    margin: 10;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
} 

.mt-0{
    margin-top: 0 ;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px ;
}
.mt-25{
    margin-top: 25px;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mb-0{
    margin-bottom: 0 ;
}
.mb-2{
    margin-bottom: 2px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px ;
}
.mb-25{
    margin-bottom: 25px ;
}
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-20{
    margin-left: 20px;
}
.gap-10{
    gap: 10px;
} 
.gap-20{
    gap: 20px;
} 
/* end padding & margin */
/* start color */
.bg-white{
    background-color: white;
}
.bg-green{
    background-color: var(--green-color)
}
.bg-red{
    background-color: var(--red-color);
}
.bg-eee{
    background-color: #eee;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.c-black{
    color: black;
}
.c-white{
    color: white;
}
.c-blue{
    color: var(--blue-color);
}
.c-red{
    color:var(--red-color);
}
.c-green{
    color: var(--green-color);
}
.c-grey{
    color: var(--grey-color);
}
.c-orange{
    color: var(--orange-color);
}
/* end color */
/* start font */
.txt-c{
    text-align: center;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-25{
    font-size: 25px;
}
.fw-bold{
    font-weight: bold;
}
.capitalize{
    text-transform: capitalize;
}
/* end font */
/* start border */
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
}
.border-eee{
    border: 1px solid #eee;
}
.border-bottom-eee{
    border-bottom: 1px solid #eee;
}
.border-top-eee{
    border-top: 1px solid #eee;
}
.border-ccc{
    border: 1px solid #ccc;
}
.bn{
    border: none;
}
/* end border */

/* start components */
.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-shape{
    width: fit-content;
    color: white;
    padding: 10px;
    background-color: var(--blue-color);
    display: block;
    border-radius: 6px;
}
/* end  components */

/* width and height */

.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.w-fit{
    width: fit-content;
}
.h-100{
    height: 100px;
}
.w-100{
    width: 100px;
}
.rad-half{
    border-radius: 50%;
}
.rn{
    resize: none;
}
/* width and height */

